<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key ="user" value="developer02" />
      <add key ="psw" value="PslhU87T+vY8UUwqNHjOVw=="/>
      <add key="domain" value="htl-vil"/>
      <add key="path" value="https://portal.htl-villach.at/if/SYP4A2016/Teams/C/PPMTest/devakca"/>
      <add key="filePath" value="C:\Users\User\Documents\SP"/>
    </appSettings>
</configuration>